#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
# assumes runelite found in /opt/runelite/runelite.jar
Exec=java -jar /opt/runelite/runelite.jar
Name=RuneLite
# assumes logo in /usr/share/pixmaps/runelite.png
Icon=runelite.png
